@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --header-hover:#2196F3;
    --foter-bg:#2F303A;
    --comande-main:#212121;
    --team-main:#F5F4FA;
    --mareting-main:#757575;
}


    div > p{
        background-color: var(--foter-bg);
    }
    div > button{
        font-family: var(--header-hover);
    }
    .team > p {
        font-family: var(--comande-main);
    }
    ul :nth-child(1){
        font-weight: 500;
        font-size: 14px;
    }
    .business{
        font-size: 60px;
    }
    h5{
        font-weight: 700;
        font-size: 14px;
    }
    div:nth-child(2) > p{
        font-weight: 400;
        font-size: 14px;
    }

    div:nth-child(3) > p{
        font-family: var(--mareting-main);
        font-size: 16px;
        font-weight: 400;
    }

    .teams{
        font-family: var(--team-main);
    }




    .div{
        display: flex;
        width: 1170px;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 94px;
        margin-top: 94px;
    }

    .div-title{
        text-align: center;
        display: flex;
    }

    .team{
        display: flex;
        width: 1170;
        margin: 0 auto;
        justify-content: space-between;

    }

    .main-li{
        width: 270px;
    }

    .teams{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .teams-1{
        display: flex;
        width: 1170px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .teams-1 li{
        width: 270px;
        background-color: white;
        height: 368px;
    }

    .teams-1 img{
        width: 270px;
        height: 260px;
    }
