@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --header-hover:#2196F3;
    --foter-bg:#2F303A;
    --comande-main:#212121;
    --team-main:#F5F4FA;
    --mareting-main:#757575;
}


    div > p{
        background-color: #2F303A;
    }
    div > button{
        color: #2196F3;
        font-family: Roboto;
    }
    .team > p {
        color: #757575;
    }
    ul :nth-child(1){
        font-weight: 500;
        font-size: 14px;
    }
    .business{
        font-size: 60px;
    }
    h5{
        font-weight: 700;
        font-size: 14px;
    }
    div:nth-child(2) > p{
        font-weight: 400;
        font-size: 14px;
    }

    div:nth-child(3) > p{
        color: #757575;
        font-size: 16px;
        font-weight: 400;
    }

    .teams{
        background-color: #F5F4FA;
    }